<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/styles.css" rel="stylesheet">
    <title>API Rest con vistas XILFTEN Movies</title>
</head>
<body>
<h1> API REST XILTEN Movies</h1>
<hr>
<h3>Get all Movies</h3>
<p> Para obtener todas las peliculas usa la url http://localhost:8080/movies </p>
<h3>Get Movie by id</h3>
<p>Para obtener una pelicula por id usa la url http://localhost:8080/{id}</p>
<p th:if="${message != null}" th:text="${message}"></p>
</body>
</html>